<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("background1.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            }
            h1 {
            color: white;
            text-align: center;
            position:relative;
            left:0vw;
            top:5vh;
            text-shadow: 2px 2px black;
        }
        .cont {
            position:relative;
            left:43vw;
            top:15vw;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Registration</h1>
    </div>
    <div class="cont">
        <form method='post' action='/register'>
            Username: <br>
            <input type="text" id="user" name="username"> <br>
            Password: <br>
            <input type="password" id="password" name="password"> <br>
            Password must be longer than 8 characters.
            <br>
            
            <input type="submit" id="simple_click" class="btn btn-warning" value="Register"> <br>
        </form>
    </div>
</body>

</html>